@model IEnumerable<MovieServiceModel>

<section class="cards">
    @foreach (var movie in Model)
    {
        <div class="card position-relative">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" asp-route-info="@movie.GetInfo()">
                <img class="card-img-top" src="@movie.ImageUrl" alt="@movie.Title (@movie.ReleaseYear)">
            </a>
            <div class="card-body">
                <p class="genres">
                    @foreach (var genre in movie.Genres)
                    {
                        <span>@genre</span>
                    }
                </p>
                <a class="card-title" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" asp-route-info="@movie.GetInfo()">
                    <span class="movie-title">@movie.Title</span>
                    <span class="movie-year">, @movie.ReleaseYear</span>
                </a>
                <p class="card-text">@movie.Plot</p>
                @if (ViewBag.AllowEdit == true)
                {
                    <div class="row contributor-buttons" id="movie-buttons">
                        <a asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-info mr-1">Edit</a>
                        <a asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Delete</a>
                    </div>
                }
            </div>
        </div>
    }
</section>