@model AllMoviesQueryModel

<form method="get">
    <div class="row" mb-5>
        <div class="form-group col-md-4">
            <select asp-for="SelectedGenre" class="form-control">
                <option value="">All Genres</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>
        <div class="input-group col-md-4">
            <input asp-for="SearchTerm" class="form-control">
        </div>
    </div>   
</form>


<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="@movie.ImageUrl" alt="@movie.Title (@movie.ReleaseYear)">
            </a>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">@movie.Title, @movie.ReleaseYear</h5>
                </a>
                <p class="card-text">@movie.Plot</p>
            </div>
        </div>
    }
</div>
