@model MovieDetailsServiceModel

<div class="row">
    <div class="col-12 col-md-8">
        <iframe width="730" height="433" src="https://www.youtube.com/embed/@Model.YoutubeTrailerId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-4">
        <p class="genres">
            @foreach (var genre in Model.Genres)
            {
                <span>@genre.ToUpper()</span>
            }
        </p>
        <p>
            <span id="movie-title">@Model.Title, </span>
            <span id="release-year">@Model.ReleaseYear</span>
        </p>
        <p>
            @Model.Plot
        </p>
        <span class="imdbRatingPlugin" data-title="tt1156398" data-style="p4">
            <a href="https://www.imdb.com/title/tt1156398/?ref_=plg_rt_1">
                <img width="37" height="17" src="https://www.nicepng.com/png/full/36-360403_8f068a-internet-movie-database.png" alt="@Model.Title (@Model.ReleaseYear) on IMDb" />
            </a>
        </span>
        <div class="mt-4">
            @*<a class="btn-transparent" href="#">Watch now</a>*@
            <a href="#" id="btn-netflix"></a>
            @if (User.Identity.IsAuthenticated)
            {
                if (!ViewBag.MovieIsInWatchlist)
                {
                    <input type="button" value="Watch later" id="add-movie">
                    <input type="button" value="Remove from watchlist" id="remove-movie" style="display: none">
                }
                else
                {
                    <input type="button" value="Watch later" id="add-movie" style="display: none">
                    <input type="button" value="Remove from watchlist" id="remove-movie">
                }
            }
            else
            {
                <a class="btn-transparent" id="btn-watch-later" asp-area="Identity" asp-page="/Account/Login">Watch later</a>
            }
            <div id="watchlist-notification" style="display: none;">
            </div>
        </div>
        <script>(function (d, s, id) { var js, stags = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"; stags.parentNode.insertBefore(js, stags); })(document, "script", "imdb-rating-api");</script>
    </div>
</div>
<div class="div-movie-info">
    <p class="movie-info">
        <span>@Model.Studio</span> presents a <span>@Model.ReleaseYear</span> film by <span>@Model.DirectorName</span><br />
        starring <span>@Model.StarringActors</span><br />
        runtime <span>@Model.Runtime min</span> languange <span>@Model.Language</span>
    </p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#add-movie').click(function () {
                $.ajax({
                    url: '@Url.Action("Add", "Watchlist", new { movieId = Model.Id })',
                    complete: function () {
                        $('#add-movie').fadeOut(400, function () {
                            $('#remove-movie').fadeIn(150);
                        });

                        $('#watchlist-counter').html(parseInt($('#watchlist-counter').html(), 10) + 1);

                        $('#watchlist-dropdown').prepend('<a class="dropdown-item" href="@Model.Id" id="@Model.Id">@Model.Title (@Model.ReleaseYear)</a>');

                        if ($('#watchlist-dropdown').children().length > 5) {
                            $('#watchlist-dropdown').children().last().remove();
                        }

                        $('#watchlist-notification')
                            .css('color', 'darkgreen')
                            .text('✓ Successfully added @Model.Title (@Model.ReleaseYear) to your watchlist!')
                            .fadeIn(300);
                    }
                })
            });

            $('#remove-movie').click(function () {
                $.ajax({
                    url: '@Url.Action("Remove", "Watchlist", new { movieId = Model.Id })',
                    complete: function () {
                        $('#remove-movie').fadeOut(400, function () {
                            $('#add-movie').fadeIn(150);
                        });

                        $('#watchlist-counter').html(parseInt($('#watchlist-counter').html(), 10) - 1);

                        $('#watchlist-dropdown > #@Model.Id').remove();

                        $('#watchlist-notification')
                            .css('color', 'darkred')
                            .text('✓ Successfully removed @Model.Title (@Model.ReleaseYear) from your watchlist!')
                            .fadeIn(300);
                    }
                })
            })
        });
    </script>
}
